body{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
    text-align: center;
}
.click-button{
    font-size: 150%;
}
div{
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: auto;
}
input{
    background: #000;
    color: #aaa;
    font-size: 100%;
    width: 50px;
    text-align: center;
}
input[type=button]{
    width: auto;
}
#upgrades{
    margin-left: 25px;
    text-align: left;
}
